/SubstationLSE/bin
/SubstationLSE/obj
/SLSE/bin
/SLSE/obj
/SLSEGui/obj
/SLSEGui/obin
/ConsoleApplication1
*.exe
*.pdb
SLESGui/obj/Debug/SLESGui.csproj.GenerateResource.Cache
SLSE/obj/Debug/GeneratedInternalTypeHelper.g.cs
SLSE/obj/Debug/GeneratedInternalTypeHelper.g.cs
SLESGui/obj/Debug/SLESGui.csproj.GenerateResource.Cache
SLESGui/obj/Debug/SLESGui.csproj.GenerateResource.Cache
SLSE.v11.suo
SLSE/obj/Debug/GeneratedInternalTypeHelper.g.cs
SLSE/obj/Debug/GeneratedInternalTypeHelper.g.cs
SLSE.v11.suo
*.suo